.ember-bootstrap-markdown {

}

.ember-bootstrap-markdown > div {
  margin-bottom: 5px;
}

.ember-bootstrap-markdown-toolbar {

}

.ember-bootstrap-markdown-toolbar .btn {
  margin-bottom: 3px;
}

.ember-bootstrap-markdown-editor {

}

.ember-bootstrap-markdown-preview {
  cursor: pointer;
}

.ember-bootstrap-markdown-preview.placeholder {
  color: #ddd;
  font-style: italic;
}

.ember-bootstrap-markdown-footer {

}

.ember-bootstrap-markdown-footer .tips {
  margin-bottom: 5px;
  color: #aaa;
  font-size: 80%;
}
