<h2 id="title">Ember Bootstrap Markdown</h2>

{{ember-bootstrap-markdown
  class='col-xs-6 col-xs-offset-3'
  btns='heading,bold,italic,quote,link,image,list-ol,list-ul'
  applyAction='save'
  value=test
}}
